version: "3.7"
name: vad-handlar-du

services:
  postgres:
    image: postgres:17.2
    restart: always
    volumes:
      - ./.postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: groceries
      POSTGRES_PASSWORD: groceries
      POSTGRES_DB: groceries
    ports:
      - 5432:5432

  web:
    image: vad-handlar-du:latest #ghcr.io/lambdan/vad-handlar-du:latest
    restart: always
    init: true
    ports:
      - 8000:8000
    depends_on:
      - postgres
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: groceries
      POSTGRES_PASS: groceries
      POSTGRES_DB: groceries
